// Section contato
#contato {
    background-color: $cor-escura;

    @include display-layout(flex, column, center, center, 15px);
    font-family: $fonte-padrao;
    padding: 60px 0 80px;
    color: $cor-clara;

    h2 {
        font-size: $fonte-size-titulo;
    }

    #div-contato {
        width: 100%;
        @include display-layout(flex, column, center, center, 30px);

        @media screen and (min-width: 1150px) {
            @include display-layout(flex, row, center, center, 15px);
            width: 90%;
        }

        #div-endereco {
            @include display-layout(flex, column, center, center, 15px);
            
            @media screen and (min-width: 1150px) {
                width: 50%;
            }

            #endereco {
                @include display-layout(flex, column, center, center, 5px);

                @media screen and (min-width: 1150px) {
                    @include display-layout(flex, column, center, center, 0);
                }

                p {
                    text-align: center;

                    @media screen and (min-width: 1150px) {
                        margin: 0;
                        font-size: 1.2rem; 
                    }
                }
            }

            #mapa {
                width: 100%;
                height: 300px;
                border-bottom: solid 8px $cor-vermelho-claro;
                overflow: hidden;
            }
        }

        //Formulário para contato via email
        #form-contato {
            @include display-layout(flex, column, center, center, 5px);
            width: 100%;
            padding: 0 25px;

            @media screen and (min-width: 1150px) {
                width: 50%;
            }

            h3{
    
                @media screen and (min-width: 1150px) {
                    margin-bottom: 50px;
                }
            }

            input {
                width: 100%;
                padding: 5px 15px;
                border-radius: 5px;
            }

            textarea {
                width: 100%;
                padding: 5px 15px;
                border-radius: 5px;

                &::-webkit-scrollbar{
                    width: 10px;
                    
                    border-radius: 2px;
                    border: none;
                }

                &::-webkit-scrollbar-thumb{
                    background-color: $cor-vermelho-claro;
                    border-radius: 2px;
                }
            }

            button {
                margin-top: 25px;
                color: $cor-vermelho-claro;
                text-decoration: none;
                border: solid 2.5px $cor-vermelho-claro;
                width: 100%;
                padding: 15px;

                &:hover {
                    color: $cor-clara;
                    background-color: $cor-vermelho-claro;
                }
            }
        }
    }
}