

header {
    @include display-layout(flex, column, space-between, center, 15px);
    @include box-layout(50vh, 100%, 0, 0, none);
    position: relative;
    overflow: hidden;

    .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    #menu{
        @include display-layout(flex, row, start, center, 15px);
        @include box-layout(auto, 100%, 0 15px 0 10px, 10px, none);

        #logo-header{
            width: 70%;

        }

        #nav-bar-menu{
            display: none;
        }

        #btn-menu-retratil-abrir{
            @include display-layout(flex, row, center, center, 15px);
            color: $cor-clara;
            background-color: $cor-escura;
            font-size: 1.8rem;
            font-weight: bold;
            position: fixed;
            right: 10px;
            top: 10px;
            z-index: 1;
            height: 50px;
            width: 50px;
            transition: .4s;
        }
    }

    #logo{
        width: 100%;
    }
}

#menu-retratil-mobile{
    background-image: linear-gradient(to bottom, $cor-escura 60%, #000000f6);
    @include display-layout(flex, column, center, center, 25px);
    @include box-layout(0, 100%, 0, 0, 0);
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    transition: .4s;

    #btn-menu-retratil-fechar{
        @include display-layout(flex, row, center, center, 15px);
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 1.8rem;
        font-weight: bold;
        color: $cor-clara;
        height: 50px;
        width: 50px;
    }

    #icone-logo{
        height: 100px;
        margin-bottom: 20px;
    }

    a{
        color: $cor-clara;
        font-family: $fonte-padrao;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 1.2rem;
        transition: .4s;
        
        &:hover{
           color: $cor-vermelho-claro;
        }
    }

    #chamada-action-01{
        background-image: linear-gradient(to top, $cor-vermelho-escuro, $cor-vermelho-claro );
        padding: 5px 15px 3px;
        border-radius: 5px;
    
        &:hover{
            
           color: $cor-clara;
           transform: scale(1.05);
        }
    }

}