/*SEÇÃO HOME*/
#home {
    @include box-layout(100vh, 100%, 0, 0, none);

    /*Header*/
    header {
        @include display-layout(flex, column, space-between, center, 15px);
        @include box-layout(50%, 100%, 0, 0, none);
        position: relative;
        overflow: hidden;

        @media screen and (min-width: 768px) {
            @include box-layout(70%, 100%, 0, 0, none);

        }

        /*Video do background*/
        .background-video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            transform: translate(-50%, -50%);
            z-index: -1;
            border-bottom: solid $cor-escura 5px;
        }

        /*Barra de navegação superior (Inativa em mobile)*/
        #menu {
            @include display-layout(flex, row, center, center, 15px);
            @include box-layout(auto, 100%, 0 15px 0 10px, 25px, none);

            #nav-bar-menu {
                display: none;



                @media screen and (min-width: 768px) {
                    @include display-layout(flex, row, center, center, 50px);
                   
                    
                    font-family: $fonte-padrao;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                        color: $cor-escura;
                        font-size: 1.5rem;
                        transition: .4s;

                        &:hover {
                            color: $cor-vermelho-claro
                        }
                    }

                    #chamada-action-head {
                        background-image: linear-gradient(to top, $cor-vermelho-escuro, $cor-vermelho-claro );
                        padding: 10px 20px;

                        border-radius: 25px;
                        text-decoration: none;
                        color: $cor-clara;
                        font-family: $fonte-padrao;
                        letter-spacing: 2px;
                        font-size: .8rem;
                        transition: .4s;

                        &:hover {
                            color: $cor-clara;
                            transform: scale(1.05);
                        }

                    }
                }
            }

            /*Botão do menu retrátil (ativo somente em mobile)*/
            #btn-menu-retratil-abrir {
                @include display-layout(flex, row, center, center, 15px);
                color: $cor-clara;
                background-color: $cor-escura;
                font-size: 1.8rem;
                font-weight: bold;
                position: fixed;
                right: 10px;
                top: 10px;
                z-index: 1;
                height: 50px;
                width: 50px;
                transition: .4s;

                @media screen and (min-width: 768px) {
                    display: none;

                }
            }
        }

        #logo {
            height: 80%;

            @media screen and (min-width: 768px) {
                height: 70%;
            }
        }
        

    }

    /*Slogan*/
    #slogan {
        @include display-layout(flex, column, start, center, 40px);
        @include box-layout(50%, 100%, 0, 0, none);
        background-color: $cor-escura;
        

        @media screen and (min-width: 768px) {
            @include display-layout(flex, column, center, center, 40px);
            @include box-layout(30%, 100%, 0, 0, none);

        }

        #h1-1 {
            background-color: $cor-escura;
            color: $cor-clara;
            padding: 15px 30px;
            text-align: center;
            font-family: $fonte-padrao;
            font-size: 2.5rem;

            @media screen and (min-width: 768px) {
                display: none;

            }
        }

        #h1-2 {
            display: none;
            background-color: $cor-escura;
            color: $cor-vermelho-claro;
            padding: 15px 30px;
            text-align: center;
            font-family: $fonte-padrao;
            font-size: 3.3rem;

            @media screen and (min-width: 768px) {
                display: flex;
                

            }

            
        }

        #chamada-action-02 {
            background-image: linear-gradient(to top, $cor-vermelho-escuro, $cor-vermelho-claro );
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            color: $cor-clara;
            font-family: $fonte-padrao;
            letter-spacing: 2px;
            font-size: 1.2rem;
            transition: .4s;

            @media screen and (min-width: 768px){
                display: none;
            }

            &:hover {
                color: $cor-clara;
                transform: scale(1.05);
            }
        }
    }
}