/*SEÇÃO SOBRE*/

/*Seção Sobre*/
#sobre {
    @include display-layout(flex, column, center, center, 0);
    @include text-layout($fonte-padrao, $fonte-size-texto, none, none, none);

    h2{
        @include text-layout($fonte-padrao, $fonte-size-titulo, none, none, $cor-clara);
        text-shadow: $cor-escura 2px 2px 2px;
        margin: 25px;
    }

    /*Div texto sobre*/
    #div-texto-sobre {
        @include display-layout(flex, column, center, center, 10px);
        text-align: center;
        background-image: url(./assets/back-02.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        #filtro-01{
            padding: 15px;
            background-image: linear-gradient(to top, #000000, #ffffff25);

            width: 100%;
            #container-texto-sobre{

                @include display-layout(flex, column, center, center, 15px);

                img {
                width: 200px;
                filter: drop-shadow(2px 5px 1px $cor-escura);
                }
    
            p {
                margin: 0;
                color: $cor-clara;
                margin-bottom: 50px;
                text-shadow: $cor-escura 2px 2px 2px;
            }
        }
        }

        
        
    }
    /*Div Visão estratégica*/
    #visao-estrategica {
        width: 100%;
        padding: 15px;
        text-align: center;
        background-color: $cor-escura;

        h2{
            @include text-layout($fonte-padrao, $fonte-size-subtitulo, none, none, $cor-clara);
        }

        #visao-estrategica-cards {
            @include display-layout(flex, column, space-around, center, 25px);

            .card-VE {
                @include display-layout(flex, column, space-evenly, center, 10px);
                @include box-layout(420px, 320px, 0, 20px, 30px 30px 0 0);
                text-align: center;
                color: $cor-clara;
                background-image: linear-gradient( to top, $cor-escura, #0a0a0a);
                border-bottom: solid $cor-vermelho-escuro 8px;
                border-top: solid $cor-vermelho-escuro 8px;
                border-left: solid 1px #0a0a0a;
                border-right: solid 1px #0a0a0a;
                transition: .4s;

                &:hover{
                    transform: scale(1.05);
                    box-shadow: 2px 2px 40px $cor-vermelho-escuro;
                }
            
                img {
                    height: 20%;
                }

                p {
                    max-height: 60%;
                    margin: 0;
                    text-align: center;
                }

                #p-valores {
                    text-align: start;
                }
            }
        }
    }

    /*Equipe*/
    #equipe{
        background-color: antiquewhite;
        width: 100%;
        @include display-layout(flex, column, center, center, 20px);
        padding: 100px;

        #container-professores{
            background-color: aqua;
            @include display-layout(flex, column, center, center, 20px);

            .card-trainer{
                @include box-layout(500px, 300px, 0, 0, 0);
                overflow: hidden;

                .div-back-trainer{
                    @include display-layout(flex, column, center, center, 0);
                    background-image: url(./assets/cleiton-silva.jpg);
                    background-size: cover;
                    @include box-layout(100%, 100%, 0, 0, 0);
                    transition: .4s;

                    .div-info-trainer{
                        transition: .4s;
                        background-color: grey;
                    }

                    &:hover{
                        transform: scale(1.2);

                        .div-info-trainer{
                            transform: scale(0.85);
                            width: 100%;
                            padding: 0 15px;
                        }
                    }
                }
            }

        }



    }
}

