
/*Comuns*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variáveis*/
$cor-escura: #000000;
$cor-clara: #ffffff;

/*Mixins*/

@mixin display-layout($display, $direction, $justify-content, $align-items, $gap){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin box-layout($height, $width, $margin, $padding, $border-radius){
    height: $height;
    width: $width;
    margin: $margin;
    padding: $padding;
    border-radius: $border-radius
}


/*Imports*/
@import 'header.scss';
